.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 156px;
  margin: 24px 0;
}

.gallery-item {
  width: calc(33.33% - 19px);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}

.gallery-item:hover {
  cursor: pointer;
  /* border: 2px solid #4e75ff; */
}

.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8);
}
